<div>
  {{ passengers| json }}
</div>
<hr>
<app-dashboard-viewer></app-dashboard-viewer>
<hr>
<app-count [items]="passengers"></app-count>
<app-detail *ngFor = "let p of passengers" [detail]="p" (remove) = " handleRemove($event) "
            (edit) = " handleEdit($event)">
</app-detail>


<!--div>Passenger number: {{ p.length }} </div>
<ul>
  <li *ngFor="let p of passenger let i = index">
    <div>
      {{ p | json }}
    </div>
    <div>
      {{ i + 1 }}
    </div>

    <!--{{ p | json }}
    <!-- <span class="status" [ngClass]="{'checked-in': p.checkedIn, bold: p.checkedIn}"></span> -->
    <!-- [class.checked-in]="p.checkedIn" -->
    <!-- npm install -g node-sass -->
    <!--span [ngStyle]="{backgroundColor: p.checkedIn ? 'green' : 'red', float: 'left', height: '10px', width: '10px'}"></span>
    <span [ngStyle] = "{backgroundColor:p.checkedIn ? 'green': 'brown', float: 'left', height:'10px', width: '10px', borderRadius: '50%'}">
</span>
    <div>
      Checked In Status:{{ p.checkedIn ? "yes" : "no"}}
    </div>
    <div *ngIf = "p.checkedIn === true">
      Checked In Date:{{p.checkedInDate | date: 'M/d/yy, h:mm a'  | uppercase}}
    </div>
    <span class='kidStatus' [ngClass]="{'withoutKid': !p.accompanyWithKids,
                       'withMoreThanOneKids': p.numberOfKidsAccompany > 1} "></span>
    <!--span [ngStyle] = "{backgroundColor: p.accompanyWithKids ? 'red': 'green', height: '10px', width: '10px', borderRadius: '50%', float: 'left'}"></span>
    <div>
      Accompany With Kids:{{p.accompanyWithKids ? "yes":"no"}}
    </div>
    <div>
      Kid's Name: {{ p.children }}
    </div>
    <div ></div>
    <!--span [class.withMoreThanOneKids] = "p.numberOfKidsAccompany > 1"></span>
    <span [ngStyle] = "{backgroundColor: p.numberOfKidsAccompany >= 0 && p.numberOfKidsAccompany <= 1 ? 'yellow' : 'grey'}">x</span>
   <!--div class="fontColor" [ngClass]="{'aqua':!p.accompanyWithKids}">
    <div>
    Number Of Kids Accompany with: {{p.numberOfKidsAccompany ? p.numberOfKidsAccompany:'N/A'}}
    </div>
  </li>
</ul-->
