<form #form = "ngForm" novalidate>
  <!-- template reference-->
<div>
  <input type="text" name = "name" [ngModel]="detail?.name">
</div>
<div>
  <input type="text" name = "id" [ngModel]="detail?.id">
</div>  <!--safe navigation operator-->
  {{ form.value | json }}
</form>

