/*.status {
    height: 20px;
    width: 20px;
    margin: 20px 20px 0 0;
    background-color: brown;
    float: left;
    display: block;
    border-radius: 50%;
    &.checked-in {
        background-color: green
    };
    &.bold {
        border-radius: 0%
    }
}

/*.status .checked-in {
    
}


.status .bold {

}*/

/* div > p {
  background-color: purple;
  font-size: 18px;
}

.parentx {

  &.sonx {
    font-size: 18px;
    background-color: aqua;
    border-radius: 15%;
  }
}*/
