<!--{{ p | json }}
<!-- <span class="status" [ngClass]="{'checked-in': p.checkedIn, bold: p.checkedIn}"></span> -->
<!-- [class.checked-in]="p.checkedIn" -->
<!-- npm install -g node-sass -->
<!--span [ngStyle]="{backgroundColor: p.checkedIn ? 'green' : 'red', float: 'left', height: '10px', width: '10px'}"></span-->
<span [ngStyle] = "{backgroundColor:detail.checkedIn ? 'green': 'brown', float: 'left', height:'10px', width: '10px', borderRadius: '50%'}">
</span>

<div>
  Passenger ID: {{ detail.id }}
</div>
<div>
  Passenger Name: {{ detail.name }}
</div>
<div *ngIf="editing">
  <label for="name">New Passenger Name: </label>
  <input id = name type="text" [value] = detail.name (input)="updateName(newName.value)" #newName>
  {{ newName.value }}
</div>
<div>
  Checked In Status:{{ detail.checkedIn ? "yes" : "no"}}
</div>
<div *ngIf = "detail.checkedIn === true">
  Checked In Date:{{detail.checkedInDate | date: 'M/d/yy, h:mm a'  | uppercase}}
</div>
<span class='kidStatus' [ngClass]="{'withoutKid': !detail.accompanyWithKids,
                       'withMoreThanOneKids': detail.numberOfKidsAccompany > 1} "></span>
<!--span [ngStyle] = "{backgroundColor: p.accompanyWithKids ? 'red': 'green', height: '10px', width: '10px', borderRadius: '50%', float: 'left'}"></span-->
<div>
  Accompany With Kids:{{detail.accompanyWithKids ? "yes":"no"}}
</div>
<!--div>
  Kid's Name: {{ detail.children[0]?.name }}
</div>
<div ></div>
<!--span [class.withMoreThanOneKids] = "p.numberOfKidsAccompany > 1"></span-->
<!--span [ngStyle] = "{float: left, height: 20px, width: 20px, borderRadius: 50%, backgroundColor: detail.numberOfKidsAccompany >= 0 && detail.numberOfKidsAccompany <= 1 ? 'yellow' : 'grey'}"></span>
<!--div class="fontColor" [ngClass]="{'aqua':!p.accompanyWithKids}"-->
<div>
  Number Of Kids Accompany with: {{detail.numberOfKidsAccompany ? detail.numberOfKidsAccompany:'N/A'}}
</div>
<button (click) = "toggleEdit()">{{ editing ? 'Done': 'Edit'}}</button>
<button (click) = "removePassenger($event)">Remove</button>
