.kidStatus {
  margin: 20px 0;
  height: 20px;
  width: 20px;
  border-radius: 30%;
  display: block;
  float: left;
  background-color: red;
&.withoutKid {
   background-color: green;}
&.withMoreThanOneKids {
   background-color: purple;}
}
.fontColor{
  color: darkblue;
  font-size: 30px;
&.aqua{color: aqua}
}
button{
  height: 30px;
  width: 120px;
  background-color: orchid;
}
